annotated-doc==0.0.4
annotated-types==0.7.0
click==8.3.2
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
Jinja2==3.1.6
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging==26.0
phonenumbers==9.0.27
pydantic==2.12.5
pydantic-extra-types==2.11.2
pydantic_core==2.41.5
Pygments==2.20.0
rendercv==2.8
rendercv-fonts==0.5.1
rich==14.3.3
ruamel.yaml==0.19.1
shellingham==1.5.4
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
typst==0.14.8
watchdog==6.0.0
